.about {
    position: relative;
    padding-top: 200px;
    padding-bottom: var(--main-padding-bottom);
}
h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 40px;
}
p {
    color: #333;
    text-align: justify;
    line-height: 1.9;
    font-size: 18px;
}